<!DOCTYPE html>
<html lang="en">
    <head></head>
    <body>
        <h1 class="text-center title-1">Lista de Usuários</h1>
        <ul>
            <% userlist.forEach(function(obj){%>
            <li><a href="mailto:<%= obj.email %>"><%= obj.username %></a></li>
            <%})%>
        </ul>
    </body>
</html>